<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mt-4 mb-4">New Character</h1>
      <%= form_with(model: @character, local: true, html: { class: 'needs-validation', novalidate: true, multipart: true }) do |form| %>

        <div class="mb-3">
          <%= form.label :image, class: 'form-label' %>
          <%= form.file_field :image, class: 'form-control', required: true, id: 'image-input' %>
          <div class="invalid-feedback">
            Please upload an image.
          </div>
          <div class="mt-3">
            <img id="image-preview" src="#" alt="Image Preview" style="display: none; max-width: 100%; height: auto;" />
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please provide a name.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :debut_episode, class: 'form-label' %>
          <%= form.text_field :debut_episode, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please provide a debut episode.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :affiliation_id, class: 'form-label' %>
          <%= form.collection_select :affiliation_id, @affiliations, :id, :name, {}, { class: 'form-control', required: true } %>
          <div class="invalid-feedback">
            Please select an affiliation.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :nen_ability_id, "Nen Abilities", class: 'form-label' %>
          <% @nen_abilities.each do |ability| %>
            <div class="form-check">
              <%= form.radio_button :nen_ability_id, ability.id, { class: 'form-check-input' } %>
              <%= form.label :nen_ability_id, ability.aura_type, class: 'form-check-label' %>
            </div>
          <% end %>
          <div class="invalid-feedback">
            Please select a nen ability.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :episode_ids, "Episodes", class: 'form-label' %>
          <div class="form-check">
            <% @episodes.each do |episode| %>
              <div class="form-check">
                <%= form.check_box :episode_ids, { multiple: true, class: 'form-check-input' }, episode.id, nil %>
                <%= form.label :episode_ids, episode.name, class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit 'Create Character', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const imageInput = document.getElementById('image-input');
    const imagePreview = document.getElementById('image-preview');

    imageInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          imagePreview.src = e.target.result;
          imagePreview.style.display = 'block';
        };
        reader.readAsDataURL(file);
      } else {
        imagePreview.style.display = 'none';
      }
    });
  });
</script>
